@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

html{
    font-size: 62.5%;
}

header{
 width: 100vw;
 border-bottom: 3px solid #e2e2e2;
}

.container{
    width: 100%;
    max-width: 1015px;
    margin: 0 auto;
}
.header__navlinks {
    list-style-type: none;
    display: flex;
    margin-right: 0.75rem;
}
.header__navlinks li a img{
    width: 2.5rem;
}
.header__navlinks li {
    margin: 0 0.75rem;
}

.header__profile{
    border-radius: 50%;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
}
.header__profile img{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
}

.header_search input{
    text-align: center;
    padding: 0.5rem;
    border: 2px solid #dbdbdb ;
}
.header{
    width: 100%;
    max-width: 1015px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
}

main{
    width: 100vw;
}

.container{
    display: flex;
}

.instahome{
    flex: 0.65;
    width: 65%;
}

.instahome__stories{
    list-style-type: none;
    display: flex;
    border: 2px solid #dbdbdb;
    overflow-x: auto;
    margin-top: 2.5rem;
    padding: 0.5rem;
    width: 100%;
}

.instahome__stories li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
    cursor: pointer;
}

.instahome__storie-img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 0.3rem;
    overflow: hidden;
    background: linear-gradient(45deg, #f89f40 0%,#f87a4d 25%,#f53f5b 50%,#f83583 75%,#f735b9 100%); 
    background: -moz-linear-gradient(45deg, #f89f40 0%,#f87a4d 25%,#f53f5b 50%,#f83583 75%,#f735b9 100%); 
}
.instahome__storie-name{
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500
}

.instahome__stories li img{
    width: 100%;
    border-radius: 50%;
}

.suggestions{
    flex: 0.35;
    width: 35%;
}
.instahome__posts{
    list-style: none;
}
.instahome__post{
    border: 1px solid rgb(187, 187, 187);
    margin-top: 2.5rem;
}

.instahome__post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  
}

.instahome__post-userinfo{
    display: flex;
    align-items: center;
}

.instahome__post-profile{
    margin-right: 2rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 0.3rem;
    overflow: hidden;
    background: linear-gradient(45deg, #f89f40 0%,#f87a4d 25%,#f53f5b 50%,#f83583 75%,#f735b9 100%); 
    background: -moz-linear-gradient(45deg, #f89f40 0%,#f87a4d 25%,#f53f5b 50%,#f83583 75%,#f735b9 100%); 
}

.instahome__post-username{
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.instahome__post-profile img{
    width: 100%;
    border-radius: 50%;
}

.instahome__post-image{
    width: 100%;
    cursor: pointer;
}

.instahome__post-image img{
    width: 100%;
}

.instahome__post-menu{
    width: 2rem;
    cursor: pointer;
}

.instahome__post-menu img{
    width: 100%;
}

.instahome__post-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.instahome__post-primaryActions .like,
.instahome__post-primaryActions .comment,
.instahome__post-primaryActions .share,
.instahome__post-secondaryActions .save{
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    cursor: pointer;
}

.instahome__post-primaryActions .share{
    width: 3rem;
    height: 3rem;
    transform: rotate(12deg);
}

.instahome__post-primaryActions .comment {
    margin: 0 1.5rem;
}
.instahome__post-primaryActions  img,
.instahome__post-secondaryActions img
{
    width: 100%;
}

.instahome__post-secondaryActions .save{
    width: 2.5rem;
    height: 2.5rem;
}

.instahome__post-secondaryActions .save img{
    width: 100%;
    height: 100%;
}

.instahome__post-caption {
    font-size: 1.4rem;
    padding: 1rem 1.5rem ;
}
.instahome__post-caption .post-caption__user{
    font-weight: 600;
}
.instahome_post-reaction img{
    width: 2rem;
    height: 2rem;
}

.instahome__post-commentAction{
    display: flex;
    padding: 1.5rem;
    align-items: center;
}

.instahome_post-commentField{
    flex: 1;
}

.instahome_post-commentField input{
    border: none;
    outline: none;
    padding: 0px 2rem;
    font-size: 1.4rem;
}

.instahome_post-commentBtn, .suggestion__followBtn{
    background: transparent;
    padding: 0;
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #00b2f9; 
    cursor: pointer;
}

.suggestions__title{
    font-size: 1.6rem;
    font-weight: 600;
    color:#808080;

}

.suggestions{
    padding: 4rem 3rem;
}

.suggestions__list{
    list-style: none;
    padding: 1.5rem 0;
}

.suggestion{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1.5rem 0;
    cursor: pointer;
    flex-wrap: wrap;
}

.suggestion__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestion__info-img{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
}

.suggestion__info-img img{
    width: 100%;
    height: 100%;
}

.suggestion__followBtn{
    font-size: 1.4rem;
}

.suggestion__info-user{
    margin-left: 1.5rem;
}
.suggestion__info-username
{
    font-size: 1.6rem;
    font-weight: 600;
}
.suggestion__info-followstatus{
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
}
.suggestion__info-followstatus{
    color: #808080;
}

.header__navlinks li:nth-child(2){
    position: relative;
}

.message-qty{
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    background: rgb(255, 0, 64);
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .suggestions{
        display: none;
        flex:0;
    }
   
    .instahome{
        flex:1;
    }
    .header_search{
        display: none;
    }
}


@media screen and (max-width: 400px) {
  .header__logo img{
      width: 90px;
  }

  .header__navlinks li a img{
    width: 2rem;
}
}

@media screen and (max-width: 350px) {
    .header__logo img{
        width: 70px;
    }

    html{
        font-size: 55.5%;
    }
    
  }